.about-us-container {
  background-color: #3e3c2f; /* Color de fondo similar al de la imagen */
  border-radius: 8px;
  color: #f8f5d7;
  /* Color de texto */
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}
.fondo-boton{
  background-color: #313628; /* Color de fondo similar al de la imagen */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0px;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image-left,
.image-right {
  flex: 1;
  max-width: 350px;
  padding: 10px;
}

.image-left img,
.image-right img {
  width: 100%;
  border-radius: 10px;
}

.text {
  flex: 2;
  max-width: 600px;
  text-align: left;
}

.text h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.btn {
  background-color: #f8f5d7;
  color: #3e3c2f;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.btn:hover {
  background-color: #e5e2c2;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .text {
    text-align: center;
  }
}