<section class="informes-section">
  <div class="informes-wrapper">
    <h2 class="informes-title">Informes</h2>

    <!-- Selector de tipo de informe con radio buttons -->
    <fieldset style="margin-bottom: 1rem; border: none; padding: 0;">
      <mat-radio-group [(ngModel)]="selectedCategoria" (ngModelChange)="onCategoriaChange()"
        aria-label="Tipo de informe">
        <mat-radio-button *ngFor="let tipo of tiposInformes" [value]="tipo.value"
          style="display: inline-flex; align-items: center; margin-right: 1rem;">
          <span style="color: white;">{{ tipo.viewValue }}</span>
        </mat-radio-button>
      </mat-radio-group>

    </fieldset>

    <div class="informes-container">
      <div class="informe-card" *ngFor="let informe of filteredDatos">
        <iframe [src]="informe.safeArchivo" frameborder="0"></iframe>
        <div class="info">
          <h3>{{ informe.titulo }}</h3>
          <p>{{ informe.creado }}</p>
          <button class="btn" (click)="openDialog(informe.archivo)">Ver informe</button>
        </div>
      </div>
    </div>
  </div>
</section>