<div class="dialog-windows">
  <mat-dialog-content class="dialog-content">
    <button mat-icon-button class="close-btn" mat-dialog-close aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>

    <h4>{{ data.titulo || 'Detalles del informe' }}</h4>

    <div class="content-container">
      <p *ngIf="data.fecha">
        <strong>Fecha:</strong> {{ formattedDate }}
      </p>
      
      <iframe [src]="data.archivo" frameborder="0"></iframe>
    </div>

  </mat-dialog-content>
  <div mat-dialog-actions style="padding: 20px; padding-right: 30px;">
    <a *ngIf="data.archivo" mat-flat-button color="primary" 
       [href]="data.archivo" 
       download="{{ data.nombreOriginal || 'informe' }}">
      Descargar
    </a>
  </div>
</div>