/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    background-color: #30461a; /* Color gris */
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .custom-dialog-container {
    padding: 0;
    background-color: #1e1e1e;
    border-radius: 12px;
  }